* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  color: #258843;
}

h3 {
  color: white;
}

body {
  background-image: url(../assets/bgImg.svg);
}



.card-img-top {
  border: 3px solid black;
  height: 200px;
}
